In [1]:
# Import Pandas:
import pandas as pd

In [2]:
# Load the Data:
df = pd.read_csv("C:/Users/baner/OneDrive/Documents/10kfillings.csv")
df

,Company,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,Microsoft,2023,"$2,11,915","$72,361","$4,11,976","$2,05,753","$87,582"
1,Microsoft,2022,"$1,98,270","$72,738","$3,64,840","$1,98,298","$89,035"
2,Microsoft,2021,"$1,68,088","$61,271","$3,33,779","$1,91,791","$76,740"
3,Apple,2023,"$3,83,285","$96,995","$3,52,583","$2,90,437","$1,10,543"
4,Apple,2022,"$3,94,328","$99,803","$3,52,755","$3,02,083","$1,22,151"
5,Apple,2021,"$3,65,817","$94,680","$3,51,002","$2,87,912","$1,04,038"
6,Tesla,2023,"$96,773","$14,974","$1,06,618","$43,009","$13,256"
7,Tesla,2022,"$81,462","$12,587","$82,338","$36,440","$14,724"
8,Tesla,2021,"$53,823","$5,644","$62,131","$30,548","$11,497"

In [3]:
# Remove Commas and Dollar Signs
df['total_revenue'] = df['Total Revenue'].replace({'\$': '', ',': ''}, regex=True).astype(int)
df['net_income'] = df['Net Income'].replace({'\$': '', ',': ''}, regex=True).astype(int)
df['total_assets'] = df['Total Assets'].replace({'\$': '', ',': ''}, regex=True).astype(int)
df['total_liabilities'] = df['Total Liabilities'].replace({'\$': '', ',': ''}, regex=True).astype(int)
df['cashflow'] = df['Cash Flow from Operating Activities'].replace({'\$': '', ',': ''}, regex=True).astype(int)

In [4]:
# Calculate year-over-year changes for each financial metric:
df['Revenue Growth (%)'] = df.groupby('Company')['total_revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('Company')['net_income'].pct_change() * 100
df['Total Assets Growth (%)'] = df.groupby('Company')['total_assets'].pct_change() * 100
df['Total Liabilities Growth (%)'] = df.groupby('Company')['total_liabilities'].pct_change() * 100
df['Cash Flow Growth (%)'] = df.groupby('Company')['cashflow'].pct_change() * 100

In [5]:
df

,Company,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,total_revenue,net_income,total_assets,total_liabilities,cashflow,Revenue Growth (%),Net Income Growth (%),Total Assets Growth (%),Total Liabilities Growth (%),Cash Flow Growth (%)
0,Microsoft,2023,"$2,11,915","$72,361","$4,11,976","$2,05,753","$87,582",211915,72361,411976,205753,87582,NaN,NaN,NaN,NaN,NaN
1,Microsoft,2022,"$1,98,270","$72,738","$3,64,840","$1,98,298","$89,035",198270,72738,364840,198298,89035,-6.438902,0.520999,-11.441443,-3.623276,1.659017
2,Microsoft,2021,"$1,68,088","$61,271","$3,33,779","$1,91,791","$76,740",168088,61271,333779,191791,76740,-15.222676,-15.764800,-8.513595,-3.281425,-13.809176
3,Apple,2023,"$3,83,285","$96,995","$3,52,583","$2,90,437","$1,10,543",383285,96995,352583,290437,110543,NaN,NaN,NaN,NaN,NaN
4,Apple,2022,"$3,94,328","$99,803","$3,52,755","$3,02,083","$1,22,151",394328,99803,352755,302083,122151,2.881146,2.894995,0.048783,4.009820,10.500891
5,Apple,2021,"$3,65,817","$94,680","$3,51,002","$2,87,912","$1,04,038",365817,94680,351002,287912,104038,-7.230275,-5.133112,-0.496945,-4.691095,-14.828368
6,Tesla,2023,"$96,773","$14,974","$1,06,618","$43,009","$13,256",96773,14974,106618,43009,13256,NaN,NaN,NaN,NaN,NaN
7,Tesla,2022,"$81,462","$12,587","$82,338","$36,440","$14,724",81462,12587,82338,36440,14724,-15.821562,-15.940964,-22.772890,-15.273547,11.074231
8,Tesla,2021,"$53,823","$5,644","$62,131","$30,548","$11,497",53823,5644,62131,30548,11497,-33.928703,-55.160086,-24.541524,-16.169045,-21.916599

In [6]:
# Summary statistics
summary = df.groupby('Company').agg({
    'total_revenue': 'mean',
    'net_income': 'mean',
    'total_assets': 'mean',
    'total_liabilities': 'mean',
    'cashflow': 'mean'
})

In [7]:
summary

,total_revenue,net_income,total_assets,total_liabilities,cashflow
Company,,,,,
Apple,381143.333333,97159.333333,352113.333333,293477.333333,112244.000000
Microsoft,192757.666667,68790.000000,370198.333333,198614.000000,84452.333333
Tesla,77352.666667,11068.333333,83695.666667,36665.666667,13159.000000